<%- include('../_layouts/header') ; -%>

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 ftco-animate img img-2" style="background-image: url(/images/hot-black-coffe.jpg);"></div>
            <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">Đăng nhập</span>
                    <h2 class="mb-4">Thông tin tài khoản</h2>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <input type="submit" value="Đăng xuất" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('../_layouts/footer') ; -%>

<div class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__body">
        <!-- Login form -->
        <form action="/KACoffe/v1/auth/login" method="POST" >
            <div class="auth-form auth-login">
                <div class="container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng nhập</h3>
                        <a href="/KACoffe/v1/auth/register" class="auth-form__switch auth-form__switch-register">Đăng ký</a>
                    </div>

                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="email" class="auth-form__input" name="email" placeholder="Email" required>
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" name="password" placeholder="Mật khẩu của bạn" required>
                        </div>
                        <% if (warning) { %>
                            <div class="alert-warning mt-3 p-1 pl-2"><%= warning %></d>
                        <% } %>
                    </div>

                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="/KACoffe/v1/auth/forgot-password" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu ?</a>
                        </div>
                    </div>
                
                    <div class="auth-form__controls">
                        <a href="/KACoffe/v1" class="btn">TRỞ LẠI</a>
                        <button type="submit" class="btn btn--primaryy">ĐĂNG NHẬP</button>
                    </div>

                    <div class="auth-form__socials">
                        <a href="" class="btn btn--with-icon">
                            <i class="fab fa-facebook-square"></i> Kết nối với Facebook
                        </a>
                        <a href="" class="btn btn--with-icon">
                            <i class="fab fa-google"></i> Kết nối với Google
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>