<!DOCTYPE html>
<html lang="en">

<head>
    <title>KACoffee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/  .css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="/css/addProduct.css">

    <link rel="stylesheet" href="/css/button.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/KACoffe/v1">KACoffee</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/KACoffe/v1" class="nav-link">Trang chủ</a></li>
                    <li class="nav-item"><a href="/KACoffe/v1/menu" class="nav-link">Sản phẩm</a></li>
                    <li class="nav-item"><a href="/KACoffe/v1/discount" class="nav-link">Khuyến mãi</a></li>
                    <li class="nav-item"><a href="/KACoffe/v1/stories" class="nav-link">Tin tức</a></li>
                    <% if ( !user ) { %>
                        <li class="nav-item"><a href="/KACoffe/v1/auth" class="nav-link">Đăng nhập</a></li>
                        <% } %>
                            <% if ( user ) { %>
                                <li class="nav-item ">

                                    <div class="nav-link nav-item-user">
                                        <img src="/images/avt.jpg" alt="" class="nav-item-user-img">
                                        <span class="nav-item-user-name"><%= user.name  %></span>
                                        <ul class="nav-item-user-menu">
                                            <li class="nav-item-user-item">
                                                <a href="/KACoffe/v1/user/me">Tài khoản</a>
                                            </li>
                                            <li class="nav-item-user-item">
                                                <a href="/KACoffe/v1/order/myOrders">Đơn mua</a>
                                            </li>
                                            <% if( user.role=="admin" ) { %>
                                                <li class="nav-item-user-item">
                                                    <a href="/KACoffe/v1/admin">Quản lí cửa hàng </a>
                                                </li>
                                                <% } %>
                                                    <li class="nav-item-user-item">
                                                        <a href="/KACoffe/v1/auth/logout">Đăng xuất</a>
                                                    </li>

                                        </ul>
                                    </div>

                                </li>
                                <li class="nav-item">
                                    <div class="nav-link nav-item-user">

                                        <a href="/KACoffe/v1/notification">
                                            <i class="far fa-bell" style="color: #ffa92d;"></i>
                                        </a>

                                    </div>

                                </li>
                                <% } %>
                </ul>
            </div>
            <% if ( user ) { %>

                <div style="padding: 1px;margin-top: 4px;" class="header__cart">

                    <a href="/KACoffe/v1/order/cart" class="col-md-12 mt-3">
                        <div class="form-group">
                            <!-- <input type="submit" value="Xem giỏ hàng" class="header__cart-view btn btn-primary py-3 px-5"> -->

                            <i style="align-items: center; color: #ffa92d;" class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <% }; %>
        </div>

        </div>
    </nav>