<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KACoffee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="css/style.css">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="./fonts/fontawesome-free-5.15.4-web/css/all.min.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    
  </head>
  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light ftco-navbar-light-2" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">KACoffee</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/KACoffe/v1/" class="nav-link">Trang chủ</a></li>
            <li class="nav-item"><a href="/KACoffe/v1/product/" class="nav-link">Thực đơn</a></li>
            <li class="nav-item"><a href="/KACoffe/v1/auth/" class="nav-link">Đăng nhập</a></li>
            <li class="nav-item"><a href="/KACoffe/v1/order/me" class="nav-link"> Tra cứu đơn hàng</a></li>
            <li class="nav-item"><a href="/KACoffe/v1/discount/" class="nav-link">Khuyến mãi</a></li>
            <li class="nav-item"><a href="/KACoffe/v1/stories" class="nav-link">Tin tức</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>