<%- include('_layouts/header') ; -%>

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 ftco-animate img img-2" style="background-image: url(/images/hot-black-coffe.jpg);"></div>
            <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">Đăng nhập</span>
                    <h2 class="mb-4">Thông tin tài khoản</h2>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <input type="submit" value="Đăng xuất" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('_layouts/footer') ; -%>

<div class="modal">
    <div class="modal__overlay"></div>

    <div class="modal__body">


        <!-- Register form -->
        <form action="/KACoffe/v1/auth/register" method="POST" >
        <div class="auth-form auth-register" style="display: none;">
            <div class="container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng ký</h3>
                    <span class="auth-form__switch auth-form__switch-login">Đăng nhập</span>
                </div>

                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" name="name" placeholder="Username">
                    </div>
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" name="email" placeholder="Email/SĐT">
                    </div>
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" name="phone" placeholder="phone">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" name="password" placeholder="Mật khẩu của bạn">
                    </div>
                   
                </div>

                <div class="auth-form__aside">
                    <p class="auth-form__policy-text">
                        Bằng việc đăng ký, bạn đã đồng ý với KACoffee về
                        <a href="" class="auth-form__policy-link">Điều khoản dịch vụ</a> &
                        <a href="" class="auth-form__policy-link">Chính sách bảo mật</a>
                    </p>
                </div>

                <div class="auth-form__controls">
                    <a href="/KACoffe/v1" class="btn">TRỞ LẠI</a>
                    </a>
                    <button type="submit" class="btn btn--primaryy">ĐĂNG KÝ</button>
                </div>

                <div class="auth-form__socials">
                    <a href="" class="btn btn--with-icon">
                        <i class="fab fa-facebook-square"></i> Kết nối với Facebook
                    </a>
                    <a href="" class="btn btn--with-icon">
                        <i class="fab fa-google"></i> Kết nối với Google
                    </a>
                </div>
            </div>
        </div>
        </form> 
        <!-- Login form -->
        <form action="/KACoffe/v1/auth/login" method="POST" >
        <div class="auth-form auth-login" style="display: block;">

            <div class="container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng nhập</h3>
                    <span class="auth-form__switch auth-form__switch-register">Đăng ký</span>
                </div>

                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" name="email" placeholder="Email/SĐT">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" name="password" placeholder="Mật khẩu của bạn">
                    </div>
                    
                </div>

                <div class="auth-form__aside">
                    <div class="auth-form__help">
                        <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                        <span class="auth-form__help-separate"></span>
                        <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                    </div>
                </div>

                <div class="auth-form__controls">
                    <a href="/KACoffe/v1" class="btn">TRỞ LẠI</a>
                    <button type="submit" class="btn btn--primaryy">ĐĂNG NHẬP</button>
                </div>

                <div class="auth-form__socials">
                    <a href="" class="btn btn--with-icon">
                        <i class="fab fa-facebook-square"></i> Kết nối với Facebook
                    </a>
                    <a href="" class="btn btn--with-icon">
                        <i class="fab fa-google"></i> Kết nối với Google
                    </a>
                </div>
            </div>
        </div>
        </form>




    </div>
</div>

</body>
</html>