<%- include('_layouts/header'); -%>

    <section class="home-slider js-fullheight owl-carousel bg-white">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
                    <div class="one-third order-md-last img js-fullheight" style="background-image:url(/images/bg_3.jpg);width: 100%;">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="introduce">
                            <h1 class="text-intro-heading" style="color: #ffffff;">Đồ uống an toàn <br> và thanh khiết</h1>
                            <p class="text-introduce">Chào mừng bạn đến với KACoffee. Hy vọng bạn sẽ tận hưởng được hương vị cà phê ở khắp nơi trên thế giới ở KACoffee </p>
                            <p><a href="#order_now" class="btn btn-primary px-4 py-3 mt-3" style="margin-left: 42%;">Đặt đồ ngay</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
                    <div class="one-third order-md-last img js-fullheight" style="background-image:url(/images/bg_2.jpg); width: 100%;">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="introduce">
                            <h1 class="text-intro-heading" style="color: #ffffff;">Giá cả <br> phù hợp</h1>
                            <p class="text-introduce">Chào mừng bạn đến với KACoffee. Hy vọng bạn sẽ tận hưởng được hương vị cà phê ở khắp nơi trên thế giới ở KACoffee</p>
                            <p><a href="#order_now" class="btn btn-primary px-4 py-3 mt-3" style="margin-left: 42%;">Đặt đồ ngay</a></p>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
        <div class="one-third order-md-last img js-fullheight" style="background-image:url(/images/product-coffee.jpg); width: 100%;">
            <div class="row no-gutters">
                <div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end" style=" position: relative"></div>
                <div class="col-sm-7 wrap-about py-5 ftco-animate">
                    <div class="heading-section mt-5 mb-4">
                        <div class="pl-lg-5 ml-md-5">
                            <span class="subheading">Cửa hàng</span>
                            <h2 class="mb-4" style="color: #ffffff;">Welcome to KACoffee</h2>
                        </div>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <h4 style="color: #ffffff;">Latte Nóng</h4>
                        <p>Đến với KACoffee bạn sẽ không chỉ được tận hưởng hương vị cà phê từ khắp nơi trên thế giới mà còn là những đồ uống được tạo ra bởi những con người hàng đầu và một không gian thoải mái, riêng tư ở từng tầng để phục vụ cho các bạn
                            muốn tổ chức họp nhóm, học tập.

                        </p>
                        <h3 class="mt-5" style="color: #ffffff;">Đồ uống đặc biệt</h3>
                        <div class="thumb my-4 d-flex">
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url(/images/hot-latte-coffe.jpg);"></div>
                                <h4 style="color: #ffffff;">Latte Nóng</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url(/images/pink-latte-macchiato-tea.jpg);"></div>
                                <h4 style="color: #ffffff;">Hồng Trà Latte Macchiato</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url(/images/cold-grinding-ice-coffe.jpg);"></div>
                                <h4 style="color: #ffffff;">Cà Phê Đá Xay-Lạnh</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_5.jpg);" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row d-md-flex align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="row d-md-flex align-items-center">
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="2">0</strong>
                                    <span>Tháng phục vụ</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="1001">0</strong>
                                    <span>Khách hàng mua café</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="15">0</strong>
                                    <span>Chương trình khuyến mãi</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="69">0</strong>
                                    <span>Ngày mở cửa</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Nổi bật</span>
                    <h2 class="mb-4">Sản phẩm</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="heading-menu text-center ftco-animate">
                        <h3>Lựa chọn nhiều</h3>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/white-coffee.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Cà phê sữa đá</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">32.000</span>
                                </div>
                            </div>
                            <p><span>Cà phê phin</span>, <span>Sữa đặc</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/cookies.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Chocolate Đá Xay</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">59.000</span>
                                </div>
                            </div>
                            <p><span>Sữa</span>, <span>Kem tươi</span>, <span>Sô-cô-la</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/pink-latte-macchiato-tea.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Hồng Trà Latte Macchiato</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">55.000</span>
                                </div>
                            </div>
                            <p><span>Hồng trà</span>, <span>Sữa tươi</span>, <span>Macchiato</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="heading-menu text-center ftco-animate">
                        <h3>Cà phê</h3>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/hot-americano-coffe.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Americano Nóng</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">40.000</span>
                                </div>
                            </div>
                            <p><span>hạt Arabica</span>, <span>hạt Robusta</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/cold-brew-milk-coffe.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Cold Brew Sữa Tươi</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">45.000</span>
                                </div>
                            </div>
                            <p><span>Cà phê tự nhiên</span>, <span>Sữa tươi</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/cold-grinding-ice-coffe.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Cà Phê Đá Xay-Lạnh</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">59.000</span>
                                </div>
                            </div>
                            <p><span>Cà phê phin</span>, <span>Sữa đặc</span>, <span>Kem tươi</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="heading-menu text-center ftco-animate">
                        <h3>Trà trái cây-Trà sữa</h3>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/pink-milk-pearl-tea.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Hồng Trà Sữa Trân Châu</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">55.000</span>
                                </div>
                            </div>
                            <p><span>Hồng trà</span>, <span>Sữa tươi</span>, <span>Trân châu</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/foamcheese.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Trà Hạt Sen - Đá</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">45.000</span>
                                </div>
                            </div>
                            <p><span>Trà Oolong</span>, <span>Hạt sen</span>, <span>foam cheese</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/black-Macchiato-tea.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Trà Đen Macchiato</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">39.000</span>
                                </div>
                            </div>
                            <p><span>Trà đen</span>, <span>Macchiato</span></p>
                        </div>
                    </div>
                </div>

                <!--  -->
                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="heading-menu text-center ftco-animate">
                        <h3>Đá xay-Choco-Matcha</h3>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/matcha.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Matcha Đá Xay</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">59.000</span>
                                </div>
                            </div>
                            <p><span>Matcha</span>, <span>Kem</span>, <span>Sữa</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/Yogurt.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Yogurt Dưa Lưới phát tài</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">59.000</span>
                                </div>
                            </div>
                            <p><span>yogurt</span>, <span>Dưa lưới</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/orange.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Phúc Bồn Tử Cam Đá Xay</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">59.000</span>
                                </div>
                            </div>
                            <p><span>Cam tươi</span>, <span>Phúc bồn tử</span>, <span>Đá xay</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="heading-menu text-center ftco-animate">
                        <h3>Đồ pha chế sẵn</h3>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/cold-coffe-milk-bottle.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Cà Phê Sữa Đá</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">44.000</span>
                                </div>
                            </div>
                            <p><span>Hộp 10 gói</span>, <span>10*22g</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/24-lon-cpsd_225680.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Thùng 24 Lon Cà Phê Sữa</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">336.000</span>
                                </div>
                            </div>
                            <p><span>Thùng 24 lon</span> - <span>Lon 180ml</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/Peak-Flavor-coffe.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Cà Phê Peak Flavor Hương Thơm Đỉnh Cao</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">90.000</span>
                                </div>
                            </div>
                            <p><span>350g</span></p>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="heading-menu text-center ftco-animate">
                        <h3>Drinks</h3>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/drink-1.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Grilled Beef with potatoes</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$29</span>
                                </div>
                            </div>
                            <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/drink-2.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Grilled Crab with Onion</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$29</span>
                                </div>
                            </div>
                            <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url(/images/drink-3.jpg);"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>Grilled Crab with Onion</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$29</span>
                                </div>
                            </div>
                            <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </section>

    <section class="ftco-section testimony-section" style="background-image: url(/images/ca-phe-nguyen-chat-da-nang-1.jpg);" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <span class="ftco-heading-2">Thank you</span>
                    <h2 class="ftco-heading-2">KACoffee</h2>
                </div>
            </div>
            <div class="row ftco-animate justify-content-center">
                <div class="col-md-7">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                                </div>
                                <div class="text p-3">
                                    <p class="mb-4">Cảm ơn quý khách đã đồng hành với chúng tôi</p>
                                    <p class="name">Bùi Thị Mai Anh</p>
                                    <span class="position">Khách hàng</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img mb-4" style="background-image: url(/images/person_2.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                                </div>
                                <div class="text p-3">
                                    <p class="mb-4">Cảm ơn quý khách đã đồng hành với chúng tôi</p>
                                    <p class="name">Lê Thị Hương</p>
                                    <span class="position">Khách hàng</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img mb-4" style="background-image: url(/images/person_3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                                </div>
                                <div class="text p-3">
                                    <p class="mb-4">Cảm ơn quý khách đã đồng hành với chúng tôi</p>
                                    <p class="name">Bùi Thị Mai Anh</p>
                                    <span class="position">Khách hàng</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img mb-4" style="background-image: url(/images/person_4.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                                </div>
                                <div class="text p-3">
                                    <p class="mb-4">Cảm ơn quý khách đã đồng hành với chúng tôi</p>
                                    <p class="name">Lê Thị Hương</p>
                                    <span class="position">Khách hàng</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img mb-4" style="background-image: url(/images/person_3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                                </div>
                                <div class="text p-3">
                                    <p class="mb-4">Cảm ơn quý khách đã đồng hành với chúng tôi</p>
                                    <p class="name">Bùi Thị Mai Anh</p>
                                    <span class="position">Khách hàng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-5 ftco-animate img img-2" style="background-image: url(/images/bg_7.jpg);"></div>
                <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
                    <div class="heading-section ftco-animate mb-5" id="order_now">
                        <span class="subheading"></span>
                        <h2 class="mb-4">Thưởng thức tại nhà</h2>
                    </div>
                    <form action="/KACoffe/v1/order/orderNotLogin" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Họ tên</label>
                                    <input type="text" name="name" class="form-control" placeholder="Họ tên">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Số điện thoại</label>
                                    <input name="phone" type="number" class="form-control" placeholder="Nhập số">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Điạ chỉ</label>
                                    <input name="address" type="text" class="form-control" placeholder="Địa chỉ">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Ghi chú</label>
                                    <input name="note" type="text" class="form-control" placeholder="Lưu ý cho quán">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input name="email" type="text" class="form-control" placeholder="VD: abc@gmail.com">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Đặt hàng</label>
                                    <input name="nameproduct" type="text" class="form-control" placeholder="Tên đồ uống">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Số lượng</label>
                                    <input type="hidden" name="product" value="61c27a7b765f856f10ab1b75">
                                    <!-- <input type="number" id="quantity_61968f808d09d" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="Cà phê Hạt Arabica gu đặc biệt gói 250g quantity"> -->
                                    <input type="number" id="quantity_61968f808d09d" min="1" max="10000" class="form-control" name="quantity" placeholder="Số lượng nhỏ nhất là 1">
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="form-group">
                                    <input type="submit" value="Đặt ngay" class="btn btn-primary py-3 px-5">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include('_layouts/footer'); -%>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                var header = document.getElementById('ftco-navbar')
                header.classList.remove('ftco-navbar-light-2')
                header.classList.add('ftco-navbar-light')
            })
        </script>