#sua {
    background-color: #2178db;
    border: none;
    width: 36px;
    height: 36px;
    color: #fff;
    text-decoration: none;
    margin: auto;
    padding: inherit;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
}

#sua:disabled,
#xoa:disabled {
    background-color: rgb(121, 121, 121);
}

#sua:disabled:hover,
#xoa:disabled:hover {
    opacity: 1;
}

#xoa {
    background-color: #db4949;
    border: none;
    width: 36px;
    height: 36px;
    color: #fff;
    text-decoration: none;
    margin: auto;
    padding: inherit;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
}

#sua:hover,
#xoa:hover {
    opacity: .8;
}

#address {
    width: 100px;
    padding: 50px;
}


/* responsive admin page */

@media(max-width:48.1875em) {
    #sua {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #xoa {
        margin-right: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}