
#sua{
  background-color: #62529c;
  border: none;
  width: 50px;
  color: #fff;
  padding: 1px 2px;
  text-decoration: none;
  margin: 1px 2px;
  cursor: pointer;
}

#xoa{
  background-color: #f30606;
  border: none;
  width: 50px;
  color: rgb(15, 2, 2);
  padding: 1px 2px;
  text-decoration: none;
  margin: 1px 2px;
  cursor: pointer;
}

#dathang{
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  font-size: 20px;
  margin: 10px;
  background-color: coral;
}

#address{
  width:100px;
  padding: 50px;
}