.nav-item-user {
    justify-content: center;
    position: relative;
}

.nav-item-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.nav-item-user-name {
    margin-left: 8px;
    font-size: 14px;
}

.nav-item-user:hover .nav-item-user-menu {
    display: block;
}

.nav-item-user-menu {
    position: absolute;
    z-index: 1;
    padding: 8px 0;
    right: 0;
    background-color: #ffffff;
    top: 65px;
    width: 160px;
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
}

.nav-item-user-menu::before {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 29px;
    top: -35px;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.nav-item-user-item {}

.nav-item-user-item a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 4px 16px;
    display: inline-block;
}

.nav-item-user-item a:hover {
    background-color: #fafafa;
}

.header__cart {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-bottom: 5px;
    cursor: pointer;
}

@media(max-width:48.1875em) {
    .header__cart {
        width: 30px;
    }
}

.responsive-button {
    justify-content: left;
    background-color: #f34949;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
}

.stardust-popover {
    position: relative;
}

.header__cart:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    width: 400px;
    margin: 33px -364px;
    height: auto;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadein ease-in 0.2s;
    cursor: default;
    display: none;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 7px;
    top: -33px;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.header__cart-list--no-cart {
    padding: 20px 0;
}

.header__cart-list-no-cart-img {
    margin-left: 60px;
    width: 70%;
    display: none;
}

.header__cart-list-no-cart-msg {
    font-size: 18px;
    margin-left: 105px;
    margin-top: 5px;
    display: none;
}

.header__cart-notice {
    position: absolute;
    padding: 0.5px 4px;
    background-color: #fff;
    color: black;
    font-size: 0.5rem;
    line-height: 0.7rem;
    border-radius: 50%;
    margin: -5px 14px;
}

.header__cart-heading {
    font-size: 14px;
    font-weight: 400px;
    color: #999;
    margin: 8px 0 8px 10px;
}

.header__cart-list--no-car .header__cart-list-no-cart-img,
.header__cart-list--no-car .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 10px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__cart-item-name {
    font-size: 14px;
    font-weight: 500px;
}

.header__cart-item-info {
    margin-right: 14px;
    width: 100%;
}

.header__cart-item-price {
    font-size: 12px;
    font-weight: 350px;
    color: crimson;
}

.header__cart-item-multiply {
    font-size: 10px;
    margin: 0 5px;
}

.header__cart-item-qnt {
    font-size: 11px;
    font-weight: 400px;
}

.header__cart-item-body {
    text-align: left;
    justify-content: space-between;
    display: flex;
}

.header__cart-item-description {
    color: #757575;
    font-size: 13px;
    font-weight: 300px;
}

.header__cart-item-remove {
    display: block;
    color: #757575;
    font-size: 15px;
    font-weight: 400px;
    margin-right: 14px;
}

.header__cart-item-remove:hover {
    color: crimson;
    cursor: pointer;
}

.header__cart-view {
    float: right;
    margin: 0 14px 10px 0;
}

.cart {
    width: 100%;
    height: auto;
    padding: 20px 10px 300px;
    border: 1px solid #D5E5F5;
}

.cart-cart {
    width: 100%;
    height: auto;
    padding: 100px 10px 10px;
    border: 1px solid #D5E5F5;
}

.cart-title {
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #AED2FF;
    line-height: 30px;
    height: 30 px;
    font-weight: 700;
    text-indent: 15px;
    color: #333;
    top: 500px;
    font-family: 'Microsoft YaHei';
}


/* border-bottom bottom border, text-indent: first line indentation*/

.cart-table {
    width: 100%;
    margin: 0 auto;
    border-color: collapse;
    font-size: 12px;
    font-family: Verdana, "Microsoft YaHei";
    color: #333333;
}

.cart-table th {
    border-bottom: 2px solid #B2D1FF;
    font-weight: normal;
    height: 35px;
    line-height: 1.4375rem;
}

.cart-item {
    background-color: #FAFCFF;
    border-bottom: 1px dotted #84B3FD;
}

.cart-item td {
    height: 55px;
    text-align: center;
}

.cart-item .cart-txt-left {
    text-align: left;
    display: flex;
    padding: 11px;
}

.cart-item .cart-txt-email {
    text-align: right;
    display: flex;
    width: 180px;
}

.cart-name {
    color: #333333;
    font-weight: bold;
    font-size: 16px;
}

.cart-subtotal {
    color: #FF3334;
    font-weight: bold;
}

.cart-add-reduce {
    flex-direction: column;
}

.cart-reduce,
.cart-add {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #FFF;
    background-color: #BDBDBD;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Arial';
    font-size: 0.833331rem;
}

.cart-raduce:hover,
.cart-add:hover {
    background-color: #FF9900;
}

.cart-num {
    margin: 5px;
    width: 35px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    display: inline-block;
    background: #fff;
    border: 1px solid #bbb;
}

.cart-del,
.cart-all {
    color: #3366D4;
}

.cart-all {
    margin-left: 8px;
}

.button__check {
    width: 20px;
}

.cart-item .cart-check {
    width: 20px;
}

.cart-del:hover,
.cart-all:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cart-bottom {
    height: 55px;
    text-align: right;
}

.cart-bottom .cart-all {
    position: relative;
    top: 1px;
}

.cart-total-price {
    color: #FF3334;
    font-weight: bold;
    font-size: 16px;
}

.cart-bottom-btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 600px;
    cursor: pointer;
    margin: 0 20px;
    background: #FE8502;
    border: 1px solid #FF6633;
    border-radius: 5px 5px 5px 5px;
    padding: 6px 12px;
}

.cart-bottom-btn:hover {
    background: #FF6600;
}

.cart-txt-left-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cart-img-img {
    margin-top: 100px;
    width: 300px;
    height: 500px;
}

.app__container {
    background-color: #f5f5f5;
}

.category {
    background-color: #ffffff;
    border-radius: 2px;
}

.category__heading {
    font-size: 16px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px 16px;
}

.category-list {
    padding: 0;
    list-style: none;
}

.category-item {}

.category-item--active .category-item__link {
    color: hsla(0, 100%, 60%, 0.822);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 6px solid;
    margin: 10px -8px;
    border-color: transparent transparent transparent #FF3334;
}

.category-item__link {
    position: relative;
    display: block;
    color: #757575;
    text-decoration: none;
    padding: 4px 16px;
    font-size: 16px;
    transition: all 0.1s linear;
}

.category-item__link :hover {
    margin-left: 5px;
    color: #FF3334
}

.grid {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
    margin-top: 85.6px;
    margin-left: 16px;
}

.grid__column-8 {
    width: 80%;
    margin-top: 85.6px;
}

.admin-header {
    padding: 0.5rem 1rem;
}

.admin-header__products {
    width: 140px;
}

.admin-header__price {
    width: 50px;
    text-align: center;
}

.admin-header__header {
    width: 30px;
    text-align: center;
}

.admin-header__time {
    width: 100px;
}

.nav-item-user-img-img {
    width: 26px;
    height: 26px;
    margin-top: 8px;
    border-radius: 50%;
}

.menu-wrap {
    margin-bottom: 3em;
}

.heading-menu h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2em;
}

.menus {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #e6e6e6;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menus .text {
    width: calc(100% - 80px);
}

.menus .text .one-half {
    width: calc(100% - 80px);
}

.menus .text .one-half h3 {
    font-size: 17px;
}

.menus .text .one-forth {
    width: 80px;
    text-align: right;
}

.menus .text .one-forth .price {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    line-height: 1.3;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menus .text p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.3);
}

.menus .menu-img {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.menus:hover {
    border-bottom: 1px dashed black;
}

.menus:hover .text .one-forth .price {
    color: #000000;
}

.container2 {
    whith: 100%;
    margin-right: 15%
}

.text-intro-heading {
    font-size: 60px;
    text-align: center;
    color: #ffffff;
}

.text-introduce {
    text-align: center;
    color: #e8e8e7;
    font-size: 30px;
}

.introduce {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.product-buttom-panel {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 80px;
    margin-top: -130px;
    background: #ffffff !important;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
    z-index: 3;
}

.responsive-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f5f5f5;
    height: 80px;
    padding: 10px 0;
    background: #ffffff !important;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
    z-index: 3;
}

ul#responsive_nav {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

.nav-responsive-btn {
    width: 28px;
    height: 28px;
    color: #fff;
    display: none;
}

@media (max-width: 48.1875em) {
    .nav-responsive-btn {
        display: block;
        left: 0;
    }
}

.nav_overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav-responsive {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.nav-responsive-list {
    margin-top: 50px;
    padding-left: 0;
}

.nav-responsive-close {
    width: 28px;
    height: 28px;
    color: #666;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}

.nav-input:checked~.nav_overlay {
    display: block;
}

.nav-input:checked~.nav-responsive {
    opacity: 1;
    transform: translateX(0%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*mobile*/

.nav-item-responsive {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .0785);
}

.nav-item-responsive:hover {
    color: #fff;
}

.nav-item-responsive>li>a {
    color: #333;
    font-weight: 500;
    padding: 20px 0 20px 20px;
    cursor: pointer;
    transition: .3s;
    font-size: 1.6rem;
    display: block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media (max-width:48.1875em) {
    .nav-item-responsive {
        padding: 16px 0 16px 16px;
    }
}

.nav-link-responsive {
    font-size: 1.2rem;
    line-height: 20px;
}

.nav-link-responsive::after {
    box-sizing: inherit;
}

.header__cart-responsive {
    display: flex;
}

.cart-responsive-cart {
    align-items: center;
    display: none;
}

.responsive-footer {}

.footer__border {
    border-bottom: 1px solid #323335;
    width: 90%;
    padding-right: 15px;
}

.footer__border1 {
    border-bottom: 1px solid #323335;
    width: 90%;
    padding-right: 15px;
    display: none;
}

.responsive-backgroud {
    padding-left: 30%;
}

.responsive-backgroud2 {
    display: none;
}

.responsive-header {
    cursor: pointer;
}

.responsive-header:hover {
    color: #f34949;
    transform: matrix();
}

.responsive-img {
    width: 180px;
    height: 180px;
    border-radius: 3%;
}

@media(max-width:48.1875em) {
    .responsive-backgroud {
        padding-left: 0;
        width: 95%;
    }
    .responsive-backgroud1 {
        display: none;
    }
    .responsive-backgroud2 {
        display: block;
    }
    .header__cart-responsive {
        padding-left: 90px;
    }
    .cart-responsive-cart {
        color: #fff;
        display: block;
    }
    .cart-responsive-cart1 {
        display: none;
    }
    .responsive-footer {
        display: none;
    }
    .ftco-heading-2 {
        display: none;
    }
    .footer__border {
        display: block;
    }
    .footer__border1 {
        display: block;
    }
    .responsive-space {
        display: none;
    }
    .responsive-header {
        font-size: 24px;
    }
    .responsive-img {
        width: 40px;
        height: 40px;
        border-radius: 20%;
    }
}


/* responsive admin page */

@media(max-width:48.1875em) {
    .cart-item .cart-txt-left {
        text-align: center;
        margin-top: 30px;
    }
    .cart-txt-left-img {
        width: 40px;
        height: 40px;
    }
    .cart-table {
        font-size: 14px;
    }
    .cart-name {
        font-size: 12px;
    }
}